
    <h1>Add a User</h1>
    <form (ngSubmit)="handleSubmit()" [ngFormModel]="addUserForm">
        <div *ngIf="error" class="alert alert-danger">
            <p *ngFor="let error of errors; let i=index">{{error}}</p>
        </div>
        <div *ngIf="success" class="alert alert-success">User added successfully.</div>
        <div class="form-group" [ngClass]="{'has-error': username.touched && !username.valid, 'has-success': username.valid}">
            <label for="username">Username</label>
            <input [ngFormControl]="addUserForm.controls['username']" type="text" class="form-control" required />
        
        </div>
        <div class="form-group" [ngClass]="{'has-error': addUserForm.controls.passwords.dirty && !addUserForm.controls.passwords.valid, 'has-success': addUserForm.controls.passwords.valid}">
            <label>Password</label>
            <p>
                <input [ngFormControl]="addUserForm.controls.passwords.controls['password']" type="password" class="form-control" required />
            </p>
            <p>
                <label>Confirm Password</label>
                <input [ngFormControl]="addUserForm.controls.passwords.controls['verifyPassword']" type="password" class="form-control" required />
                <span class="help-block" *ngIf="!addUserForm.controls.passwords.valid && addUserForm.controls.passwords.dirty">Passwords don't match.</span>
            </p>
        </div>
        <div class="form-group">  <!--[ngClass]="{'has-error': roles.touched && !roles.valid, 'has-success': roles.valid}">-->
            <label>Roles</label>
            <label *ngFor="#option of availableRoles">
                <input type="checkbox" (change)="updateRoles(option, rolecb.checked)" #rolecb [value]="option._id" />{{option.label}}
            </label>
        </div>
        <div class="form-group"  [ngClass]="{'has-error': email.touched && !email.valid, 'has-success': email.valid}">
            <label for="email">Email</label>
            <input [ngFormControl]="addUserForm.controls['email']" type="text" class="form-control" required />
        </div>
        <div class="form-group"  [ngClass]="{'has-error': fname.touched && !fname.valid, 'has-success': fname.valid}">
            <label for="fname">First Name</label>
            <input [ngFormControl]="addUserForm.controls['fname']" type="text" class="form-control" required />
        </div>
        <div class="form-group"  [ngClass]="{'has-error': lname.touched && !lname.valid, 'has-success': lname.valid}">
            <label for="lname">Last Name</label>
            <input [ngFormControl]="addUserForm.controls['lname']"  type="text" class="form-control" required />
        </div>
        <button type="submit" [disabled]="!addUserForm.valid" class="btn btn-danger btn-lg">
            <span *ngIf="!submitted">Save Changes</span>
            <span *ngIf="submitted">Saving Changes ...</span>
        </button>
    </form>