<div class="container">
    <h1>Reset Your Password</h1>
    <p>Step 1: Verify your account.</p>
    <form (ngSubmit)="handleSubmit(model)" #resetForm="ngForm">
        <div *ngIf="error" class="alert alert-danger">We could not find your account with that email address.</div>
        <div *ngIf="success" class="alert alert-success">A reset password link has been emailed to you.</div>
        <div *ngIf="!success">
            <div class="form-group" [ngClass]="{'has-error': email.touched && !email.valid, 'has-success': email.valid}">
                <label for="email">Email</label>
                <input [(ngModel)]="model.email" placeholder="example@example.com" ngControl="email"  #email="ngForm" type="text" class="form-control" pattern="[A-z0-9._%+-]+@[A-z0-9.-]+\.[A-z]{2,}" required />
            </div>
            <button type="submit" [disabled]="!resetForm.form.valid" class="btn btn-primary">
                <span *ngIf="!submitted">Step 1: Verify Your Account</span>
                <span *ngIf="submitted">Step 1: Verifying Your Account ...</span>
            </button>
        </div>
    </form>
</div>