<div class="container">
    <h1>Reset Your Password</h1>
    <p>Step 2: Enter your new password.</p>
    <form (ngSubmit)="handleSubmit()" #loginForm="ngForm">
        <div *ngIf="error" class="alert alert-danger">Your password reset authorization has expired. Please <a [routerLink]="['/Auth/LookupAccountPassword']">try again</a>.</div>
        <div *ngIf="success" class="alert alert-success">Your password has been reset. Please <a [routerLink]="['/Auth/Login']">log in</a> with your new password.</div>
        <div *ngIf="!success">
        <div class="form-group" [ngClass]="{'has-error': password.touched && !password.valid, 'has-success': password.valid}">
            <label for="password">New Password</label>
            <input [(ngModel)]="model.password" ngControl="password"  #password="ngForm" type="password" class="form-control" required />
        </div>
        <button type="submit" [disabled]="!loginForm.form.valid" class="btn btn-primary">
            <span *ngIf="!submitted">Step 2: Set Your Password</span>
            <span *ngIf="submitted">Step 2: Saving Your Password ...</span>
        </button>
        </div>
    </form>
</div>